@import 'reset';

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
/*////////////////////////////*/
@mixin mod {
    @media (min-width: 1400px) {
        @content;
    }
}
@for $i from 1 through 7 {
    @for $j from 1 through 18 {
        .el[data-period="#{$i}"][data-group="#{$j}"] {
            grid-row: $i;
            grid-column: $j;
        }
    }
}
@for $i from 57 through 71 {
    .el--lanthanides:nth-child(#{$i}) {
        grid-row: 9;
        $add: $i - 57 + 4;
        grid-column: $add;
    }
}
@for $i from 89 through 103 {
    .el--actinide:nth-child(#{$i}) {
            grid-row: 10;
            $add: $i - 89 + 4;
            grid-column: $add;
    }
}
body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(10, 80px);
    grid-gap: 1rem;

    margin: 1rem;
    font-size: 0.8em;
    font-family: Tahoma;

    @include mod {
        grid-template-columns: repeat(18, 89px);
    }
}
.el {
    background: lightgray;

    $types: alkaliMetal, lanthanide, nobleGas, transitionMetal, postTransitionMetal, alkalineEarthMetal, actinide, metalloid, otherNonMetal;
    @each $type in $types {
        &--#{$type} {
            background: hsl(random(360), 50%, 50%);
        }
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /*height: 150px;*/
    padding: 20px;
}

.el__symbol {
    font-size: 1.6em;
    font-weight: 500;
}